# Base URLs for different environments
BASE_URL_UI_SAUCE=
BASE_URL_UI_BLAZE=
BASE_URL_API=

# SauceDemo credentials
SAUCE_USER=
SAUCE_PASSWORD=
SAUCE_LOCKED_USER=

# DemoBlaze credentials
BLAZE_USER=
BLAZE_PASSWORD=